.timer{
    float: right;
    text-align: right;

}

.container{
    text-align: center;
    font-weight: bold;
    font-size: large;

}

.button{
    background-color: #0000ff; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

#answerResult{
    font-weight: bold;
    font-size: large;
    color: gray;

}